## 10 git commands every Data Scientist should know

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a':[1,2,3],'b':['p','d','p']})
df.head()

   a  b
0  1  p
1  2  d
2  3  p

In [3]:
df.b.value_counts()

p    2
d    1
Name: b, dtype: int64

In [5]:
print(f'Number of rows in the df: {len(df)}')

Number of rows in the df: 3